html {
    height: 100%;
}
body {
    height:100%;
    margin: 0;
    background-image: linear-gradient(rgb(255, 152, 152), rgb(255, 98, 98));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@font-face {
    font-family: 'Kiwi Maru Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Kiwi Maru Regular'), url('KiwiMaru-Regular.woff') format('woff');
    }
    
@font-face {
    font-family: 'Kiwi Maru Light';
    font-style: normal;
    font-weight: normal;
    src: local('Kiwi Maru Light'), url('KiwiMaru-Light.woff') format('woff');
    }
    
@font-face {
    font-family: 'Kiwi Maru Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Kiwi Maru Medium'), url('KiwiMaru-Medium.woff') format('woff');
    }

#projectdropdown {
    margin-right: 30px;
    font-size: 30px;
}
a {
  text-decoration: none;
}
.header {
    margin-left: 50px;
    font-size: 60px;
    float:left;
    text-align: left;
    font-family: "Kiwi Maru Medium";
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: white;
}
.navbar {
    margin-bottom: 200px;
}
.navbar2{
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: white;
    margin-left: 20px;
    font-size: 30px;
    float:left;
    text-decoration: none;
    font-family: "Kiwi Maru Medium";
    color: rgb(0, 0, 0); 
    display: block;
    padding: 10px;
    background-color: rgb(243, 182, 102);
}
ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(243, 182, 102);
}
#JeskoAttack{
    margin-right:50px;
    float:right;
    width:40%;
}

.dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    background-color: rgb(243, 182, 102);
    outline: rgb(243, 182, 102);;
    margin-top: 10px;
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: white;
    text-decoration: none;
    font-family: "Kiwi Maru Medium";
    color: rgb(0, 0, 0);
    font-size: 30px;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(255, 187, 187);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 138, 138);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    -webkit-text-stroke-width: 0.01px;
    -webkit-text-stroke-color: white;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(252, 80, 80);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .vertical-menu {
    margin-top:100px;
   float:right;
    font-size: 30px;
    font-family: "Kiwi Maru Regular";
    -webkit-text-stroke-width: 0.01px;
    -webkit-text-stroke-color: white;
    margin-right:30px;
    width: 700px;
    height:700px;
}

.vertical-menu a {
    background-color: rgb(197, 73, 73);
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: rgb(252, 80, 80);
}

.vertical-menu a.active {
    color: rgb(255, 138, 138);
}
#menu-overview{
  margin-top: 100px;
  margin-bottom: 100px;
}
.overview {
  float:left;
  font-size: 30px;
    font-family: "Kiwi Maru Regular";
    -webkit-text-stroke-width: 0.05px;
    -webkit-text-stroke-color: white;
    margin-left: 30px;
    width: 50%;
    height: 150%;
  background-color: rgb(197, 73, 73);
  margin-bottom: 100px;
  padding-bottom: 100px;
}
.endusers {
  margin-left: 30px;
  float:right;
  font-size: 30px;
    font-family: "Kiwi Maru Regular";
    -webkit-text-stroke-width: 0.05px;
    -webkit-text-stroke-color: white;
    width: 50%;
    height: 20%;
    margin-bottom: 100px;
  background-color: rgb(238, 105, 105);
}
.requirements {
  font-size: 30px;
    font-family: "Kiwi Maru Regular";
    -webkit-text-stroke-width: 0.05px;
    -webkit-text-stroke-color: white;
float: left;
margin-left: 30px;
    width: 40%;
    height: 150%;
    margin-bottom: 100px;
  background-color: rgb(224, 64, 64);
}
.implications {
  font-size: 30px;
    font-family: "Kiwi Maru Regular";
    -webkit-text-stroke-width: 0.05px;
    -webkit-text-stroke-color: white;
    margin-right: 30px;
float: right;
    width: 40%;
    height: 150%;
    margin-bottom: 100px;
  background-color: rgb(224, 64, 64);
}
.development {
  font-size: 30px;
  text-decoration: none;
    font-family: "Kiwi Maru Regular";
    -webkit-text-stroke-width: 0.05px;
    -webkit-text-stroke-color: white;
    margin-left: 30px;
    width: 50%;
    height: 150%;
    float: left;
    margin-bottom: 400px;
  background-color: rgb(224, 114, 114)
}
#developmenttext {
  -webkit-text-stroke-width: 0.05px;
    -webkit-text-stroke-color: white;
}
