
body {
    margin: 0;
}
.header {
    margin-left: 50px;
    text-align: left;
    text-decoration: underline;
}
.navbar {
    margin-bottom: 100px;
}
li {
    align-items: left;
    float: left;
}
.navbar2{
    text-shadow:   1px 0px #eee, 0px 1px #ccc,
               2px 1px #eee, 1px 2px #ccc,
               3px 2px #eee, 2px 3px #ccc,
               4px 3px #eee, 3px 4px #ccc,
               5px 4px #eee, 4px 5px #ccc,
               6px 5px #eee, 5px 6px #ccc,
               7px 6px #eee, 6px 7px #ccc,
               8px 7px #eee, 7px 8px #ccc,
               8px 8px #eee;
    font-size: 50px;
    text-decoration: none;
font-weight: bold, white;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    float: left; 
    display: block;
    padding: 30px;
    background-color: rgb(243, 182, 102);
}
ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(243, 182, 102);
}